


<!-- СИДИБАР МЕНЮ -->
<div class="col-xxl-3 col-lg-4">

    <aside class="blog-sidebar">


        <div class="widget">
            <h4 class="sidebar-title">Search</h4>
            <div class="sidebar-search">
                <form action="#">
                    <input type="text" placeholder="Search ...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>


        <div class="widget">
            <h4 class="sidebar-title">Categories</h4>
            <div class="sidebar-cat-list">
                <ul>
                    <li><a href="#">Domain Names <i class="fas fa-angle-double-right"></i></a></li>
                    <li><a href="#">Photography <i class="fas fa-angle-double-right"></i></a></li>
                    <li><a href="#">Coinbase <i class="fas fa-angle-double-right"></i></a></li>
                    <li><a href="#">Trading Cards <i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>


        <div class="widget">
            <h4 class="sidebar-title">Recent Post</h4>
            <div class="rc-post-list">
                <ul>
                    <li>
                        <div class="rc-post-thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/rc_post_thumb01.jpg" alt=""></a>
                        </div>
                        <div class="rc-post-content">
                            <ul class="standard-blog-meta">
                                <li><a href="#"><i class="flaticon-avatar"></i>Admin</a></li>
                                <li><a href="#"><i class="flaticon-calendar"></i>Mar 10, 2022</a></li>
                            </ul>
                            <h5 class="title"><a href="blog-details.html">Marketplace is the online shop for the video</a></h5>
                        </div>
                    </li>
                    <li>
                        <div class="rc-post-thumb">
                            <a href="blog-details.html"><img src="assets/img/blog/rc_post_thumb02.jpg" alt=""></a>
                        </div>
                        <div class="rc-post-content">
                            <ul class="standard-blog-meta">
                                <li><a href="#"><i class="flaticon-avatar"></i>Admin</a></li>
                                <li><a href="#"><i class="flaticon-calendar"></i>Mar 10, 2022</a></li>
                            </ul>
                            <h5 class="title"><a href="blog-details.html">Marketplace is the online shop for the video</a></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </aside>
</div>
<!-- СИДИБАР МЕНЮ -->